@import '../../../assets/styles/Vars.scss';

.topic-wrapper {
  cursor: pointer !important;
  z-index: 2;
  all: initial;
  margin: 2em;
  position: relative;
  display: inline-block;
  width: 30rem;
  min-width: 375px;
  overflow-wrap: normal;
  border-radius: $border-radius;
  box-shadow: 0px 1px 2px #ccc;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.topic-wrapper::after {
  content: '';
  border-radius: $border-radius;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 11px 39px -11px #000;
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.topic-wrapper:hover {
  -webkit-transform: translate(0, -0.5rem);
  transform: translate(0, -0.5rem);
}

.topic-wrapper:hover::after {
  opacity: 1;
}

button:focus {
  outline: 0;
}

.topic-image {
  width: 100%;
  height: 10rem;
  border-radius: $border-radius $border-radius 0 0;
  display: block;
  overflow: hidden;
}

.topic-image img {
  width: 100%;
}

.topic-content {
  padding: 2rem;
  height: 7rem;
}

@media (max-width: 700px) {
  .topic-content {
    padding: 0.5rem;
    height: auto;
  }
}

$pill-height: 1.6rem;
.topic-wrapper > .status-pill {
  position: absolute;
  z-index: 500;
  top: 5%;
  right: 5%;
  height: $pill-height;
  width: 7rem;
  line-height: $pill-height;
  text-align: center;
  border-radius: 1rem;
  font-weight: 700;
}

.topic-wrapper > .complete {
  color: hsl(45, 65%, 20%);
  background-color: hsl(45, 65%, 87%);
}

.topic-wrapper > .available {
  color: hsl(104, 52%, 20%);
  background-color: hsl(104, 52%, 80%);
}

.topic-wrapper > .comingSoon {
  cursor: not-allowed;
  color: hsl(0, 79%, 20%);
  background-color: hsl(0, 79%, 87%);
}

.disabled {
  box-shadow: none;
}

.disabled:hover {
  -webkit-transform: none;
  transform: none;
}

.disabled:hover::after {
  opacity: 0;
}
.disabled div.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  cursor: not-allowed;
}
