.topics-wrapper {
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.search {
  padding-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}
